<header class="site-head">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><div style="background: url({{@blog.logo}})"></div></a>{{/if}}
    <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    <h2 class="blog-description">
        {{@blog.description}}
    </h2>
    <div class="blog-links">
        <a href="http://facebook.com/gadr90" target="_blank"><i class="fa facebook-custom-fa"></i></a>
        <a href="http://twitter.com/first_doit" target="_blank"><i class="fa twitter-custom-fa"></i></a>
        <a href="http://github.com/firstdoit" target="_blank"><i class="fa fa-github"></i></a>
        <a href="mailto:gui@firstdoit.com" target="_blank"><i class="fa fa-envelope"></i></a>
    </div>
</header>