{{!< default}}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{#post}}

        <header>
        {{#if tags}}<div class="post-meta tags">Posted in {{tags}}</div>{{/if}}
        <h1 class="post-title">{{{title}}}</h1>
        <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time></div>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <section class="share">
            <p class="info">Share this post</p>
            <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">Twitter</span>
            </a>
            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="hidden">Facebook</span>
            </a>
            <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="hidden">Google+</span>
            </a>
            <p class="info">&nbspor discuss in Hacker News&nbsp</p>
            <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{title}}" data-url="{{url absolute="true"}}" data-count="horizontal">Vote on Hacker News</a>
        </section>

        <footer class="post-footer">

            {{#if author}}
            <section class="author">
                <div class="authorimage" style="background: url({{author.image}})"></div>
                <p class="attr">Author</p>
                <h4><a href="{{author.website}}">{{author.name}}</a></h4>
                <p class="bio">{{author.bio}}</p>
            </section>
            {{/if}}

        </footer>

        {{/post}}

        {{!> comments-disqus}}
        
    </article>

</main>
<script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>